body {
    margin: 0;
    width: 100%; /*수정*/
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
}

/* 헤더 */
.header-container {
    width: 100%;/*수정*/
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    display: flex;
    z-index: 10;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.left {
  display: flex;
}

.header-logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
    transition: 0.3s ease;
    padding: 20px 120px;
    transform: translateY(12px);
    cursor: pointer;
}

/* hover 시 이미지 변경 */
.header-icon:hover {
  content: url("/assets/headerProfile_hover.svg");
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
    transform: translateY(15px);
}

.header-nav a {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  text-decoration: none;
  padding-bottom: 4px;
  transition: all 0.2s ease;
}

.header-nav a:hover {
  color: #357FE8;
}

.header-icon {
  padding: 5px 120px;
  transform: translateY(15px);
}

/* 비밀번호 확인 폼 */

.password-box {
  width: 600px;
  height: 400px;
  margin: 142px auto 142px auto; /* 가운데 정렬 및 상하 여백 */
  padding: 50px 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;                 
  flex-direction: column;       /* 세로 정렬 */
  align-items: center;          /* 수평 가운데 정렬 */
  justify-content: center;
}

.password-content {
    margin-top: 60px;
}

.form-group1 {
  width: 349px;
  margin: 0 auto 42px auto;
}

.password-label {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: block;
  margin-bottom: 8px;
  text-align: left; /* 왼쪽 정렬 */
}

.email-input {
  width: 100%;
  height: 48px;
  border: 2px solid #e4e4e4;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;/*버튼과 동일 너비 렌더링 하기 위함!*/
}

.email-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.passwordCheck-button {
  width: 100%;  /* 여기! form-group 기준으로 딱 맞춤 */
  height: 48px;
  padding: 0;
  margin: 0 auto;  /* 위 여백 필요하면 따로 조정 */
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box; /*인풋과 동일 너비 렌더링 하기 위함!*/
  background-color: #357fe8;
  color: #fffafa;
}

.passwordCheck-button:hover {
  background-color: #2e69c6;
  transition: background-color 0.3s ease;
}

.back-login {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease, text-decoration 0.2s ease;

}

.back-login:hover {
  color: #357FE8;
}

/* 비밀번호 확인(결과) */

.password-container {
  width: 600px;
  height: 400px;
  margin: 142px auto 142px auto; /* 가운데 정렬 및 상하 여백 */
  padding: 50px 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;                 
  flex-direction: column;       /* 세로 정렬 */
  align-items: center;          /* 수평 가운데 정렬 */
  justify-content: center;
}

.form-group2 {
  width: 304px;
  margin: 0 auto 30px auto;
}

.password-label1 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: block;
  margin-top: 30px;
  margin-bottom: 8px;
  text-align: left; /* 왼쪽 정렬 */
}

.password-label2 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: block;
  margin-bottom: 8px;
  text-align: left; /* 왼쪽 정렬 */
}

.password-input {
  width: 100%;
  height: 48px;
  border: 2px solid #e4e4e4;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;/*버튼과 동일 너비 렌더링 하기 위함!*/
}

.login-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.password-return-button {
  width: 304px;
  height: 48px;
  line-height: 48px;
  background-color: #357fe8;
  color: #fffafa;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  transition: background-color 0.3s ease;
}

.password-return-button:hover {
  background-color: #2e69c6;
}

/* 푸터 */

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  padding: 25px 120px;
  background: white;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.footer-logo {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

.footer-info {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}