.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* 왼쪽 사이드 고정 */
.my-info-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 252px;
  height: 700px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  background: rgba(78, 198, 183, 0.1);
  flex-shrink: 0;
  margin: 50px;
}

.profile-img {
  width: 150px;
  height: 150px;
  margin-bottom: 16px;
}

.info {
  text-align: center;
  margin-bottom: 37px;
}

.LvAndName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 6px;
}

.LvAndName span {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.lv-icon {
  width: 24px;
  height: 24px;
}

.leaf-count {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 30px;
}

.tag {
  border: 1px solid #4ec6b7;
  background: rgba(78, 198, 183, 0.5);
  color: #000;
  padding: 6px 12px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
}

.btn-wrapper {
  width: 100%;
  margin-top: auto; /* 위 요소 밀어냄: 버튼은 항상 가장 아래 */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-btn,
.logout-btn {
  width: 100%;
  padding: 10px 0;
  background: #357fe8;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.logout-btn {
  margin-bottom: 0;
}

/* 오른쪽 */
.right-aside-cnt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
  width: 776px;
  padding: 62px;
}

#post-container {
  flex-grow: 1; /* 카드 영역은 유동적으로 늘어남 */
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card-box {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  position: relative;
}

.card-box p {
  margin: 0;
}
.card-box .date {
  font-size: 14px;
  color: #555;
  position: absolute;
  top: 20px;
  right: 80px;
}

.pagination {
  text-align: center;
  margin-top: 30px;
  position: sticky;
  bottom: 20px;
  background: white;
  padding: 10px;
}

.page-btn {
  width: 48px;
  height: 48px;
  border: none;
  background: none;
  border-radius: 16px;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.page-btn.active {
  background-color: #d9d9d9;
  font-weight: bold;
}

.delete-btn {
  position: absolute;
  top: 15px;
  right: 40px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
