

# VSCode 설정 폴더 무시
.vscode/

# node_modules 무시 
node_modules/

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# 멘토 인증서 저장 폴더 무시
mentor_docs/

# Virtual Environment
venv/

# Django
*.db
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

