body {
    margin: 0;
    width: 100%; /*수정*/
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
}

/* 헤더 */
.header-container {
    width: 100%;/*수정*/
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    display: flex;
    z-index: 10;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.left {
  display: flex;
}

.header-logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
    transition: 0.3s ease;
    padding: 20px 120px;
    transform: translateY(12px);
    cursor: pointer;
}

/* hover 시 이미지 변경 */
.header-icon:hover {
  content: url("/assets/headerProfile_hover.svg");
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
    transform: translateY(15px);
}

.header-nav a {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  text-decoration: none;
  padding-bottom: 4px;
  transition: all 0.2s ease;
}

.header-nav a:hover {
  color: #357FE8;
}

.header-icon {
  padding: 5px 120px;
  transform: translateY(15px);
}

/* 멘토 폼 */
* {
    box-sizing: border-box;
}

.mento-box {
  width: 1105px;
  margin: 48px auto 68px;
  padding: 75px 100px 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.25);
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
}

.mento-title {
  font-size: 30px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}

.category {
  margin-bottom: 40px;
}

.category-title {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tag {
  font-size: 16px;
  font-weight: 400;
  color: black;
  padding: 10px 13px;
  background: rgba(53, 127, 232, 0.20);
  border: 1px solid #357FE8;
  border-radius: 100px;
  cursor: pointer;
  user-select: none;
}

.tag.selected {
  background: #357FE8;
  color: white;
}

.tag:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.next-button {
  width: 306px;  /* 여기! form-group 기준으로 딱 맞춤 */
  height: 48px;
  padding: 12px 0;
  margin: 76px auto;  /* 위 여백 필요하면 따로 조정 */
  display: block;  /* block 요소여야 margin auto가 동작함 */
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #357fe8;
  color: #fffafa;
}

.next-button:hover {
  background-color: #2e69c6;
  transition: background-color 0.3s ease;
}

/* 푸터 */

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  padding: 25px 120px;
  background: white;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
}

.footer-logo {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

.footer-info {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}