body {
    margin: 0;
    width: 100%; /*수정*/
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
}

/* 헤더 */
.header-container {
    width: 100%;/*수정*/
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    display: flex;
    z-index: 10;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.left {
  display: flex;
}

.header-logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
    transition: 0.3s ease;
    padding: 20px 120px;
    transform: translateY(12px);
    cursor: pointer;
}

/* hover 시 이미지 변경 */
.header-icon:hover {
  content: url("/assets/headerProfile_hover.svg");
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
    transform: translateY(15px);
}

.header-nav a {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  text-decoration: none;
  padding-bottom: 4px;
  transition: all 0.2s ease;
}

.header-nav a:hover {
  color: #357FE8;
}

.header-icon {
  padding: 5px 120px;
  transform: translateY(15px);
}

/* 회원가입 메인 */

.role-selection-container {
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
  background-color: white;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  box-sizing: border-box;
}

.role-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  font-family: 'Noto Sans KR', sans-serif;
}

.role-cards {
  display: flex;
  justify-content: center;
  gap: 115px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.role-card {
  width: 359px;
  height: 351px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.2s ease;
}

.role-card:hover {
  transform: translateY(-5px);
}

.mento-card {
  background-color: rgba(123, 108, 246, 0.2);
}

.mentee-card {
  background-color: rgba(78, 198, 183, 0.2);
}

.role-image {
  width: 150px;
  height: auto;
  margin-bottom: 16px;
}

.role-label {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}

.role-description {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.role-hint {
  font-size: 16px;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 푸터 */

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  padding: 25px 120px;
  background: white;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.footer-logo {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

.footer-info {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}