<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Herizon Header & Footer</title>
        <link rel="stylesheet" href="HeadFooter.css">
    </head>
<body>

    <!-- 헤더 -->
<header class="header-container">
    <div class="header-logo">Herizon</div>
    <nav class="header-nav">
        <a href="#">커뮤니티</a>
        <a href="#">멘토 탐색</a>
        <a href="#">멘토챗</a>
    </nav>
    <div class="header-icon">
        <a href="#">
            <img src="img/iconoir_profile-circle.svg" alt="프로필 아이콘" />
        </a>
    </div>
</header>

<!-- 본문 (공백 영역) -->
  <main class="main-placeholder"></main>

<footer class="footer-container">
    <div class="footer-logo">Herizon</div>
    <div>
    <div class="footer-info">
        (주) 허라이즌 | 서울시 멋사구 멋사로, 19층 | 대표 : 김소망, 김윤서, 김은지, 손예원, 최윤영 | 사업자 등록번호 : 019-019-019<br>
        통신판매업신고번호 제 2025-서울멋사-1919호<br>
        직업정보제공사업신고 멋사청 2025-19호
    </div>
   <div class="footer-copyright">
        Copyright by (주) 허라이즌, All right reserved
   </div>
    </div>
</footer>
</body>
</html>